{% extends "base.html" %}

{% block main %}
<h1> Secure Page </h1>
<p>Id irure ex ad tempor nostrud enim laborum in 
et enim minim duis. Occaecat sint commodo minim 
aliquip in voluptate consectetur laboris pariatur 
laboris et. Lorem cupidatat elit ex irure cupidatat. 
Laborum nostrud ut aliqua sint elit labore eiusmod 
reprehenderit irure proident magna adipisicing. 
Ea dolore elit ea laborum ullamco velit ex in anim 
exercitation cillum consequat. Aliquip nisi in tempor 
exercitation sit quis consectetur duis do laborum 
nulla.</p>    
{% endblock %}